{{!-- {{> flash_messages}} --}}
<div id="mySidenavLog" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closePanel()">&times;</a>
  <div class="container p-6">
    <form action="/process-login" method="POST">
      <div class="margin-narrow">
        <h4 class="color-yellow margin-top">S'IDENTIFIER</h4>
        <div class="form-row">
          <div class="form-group col-12">
            <label>
              Email:
              <input type="email" class="form-control" name="email" required />
            </label>
          </div>
          <div class="form-group col-12">
            <label>
              Password:
              <input type="password" class="form-control" name="originalPassword" required />
            </label>
          </div>
          <div class="col-12">
            <div class="form-group form-check col-12">
              <input type="checkbox" class="form-check-input" id="exampleCheck4">
              <label class="form-check-label" for="exampleCheck1">Rester connecté(e)</label>
            </div>
          </div>
        </div>
        <button class="btn btn-color">Log In</button>
      </div>
    </form>
  </div>
</div>