{{!-- <main class="dashboard container-fluid h-100">
  <div class="container-fluid main-top">
    <h3>CRÉER UN QUIZZ</h3>
    <a href="/"><button class="btn btn-color">RETOUR</button></a>
  </div>

  <form class="form-box container" action="/process-quiz" method="POST">
    <div class="row input-box">
      <label>
        Titre
        <textarea name="name" rows="1" cols="50"></textarea>
      </label>

      <label>
        Description
        <textarea name="description" rows="4" cols="50"></textarea>
      </label>
    </div>

    <button class="btn btn-color">VALIDER</button>
  </form>

  <div class="back">
    <div class="overlay">
    </div>
  </div>
</main> --}}

<div class="container p-6">
  <form action="/process-quiz" method="POST">
    <div class="margin-narrow">
      <div class="form-row">
        <div class="form-group col-12">
          <label>
            Titre du Quiz
            <input type="text" class="form-control" name="name" placeholder="Nom du quiz" required />
          </label>
        </div>
        <div class="form-group col-12">
          <label>
            Description du Quiz
            <input type="textarea" class="form-control" name="description" placeholder="Decrivez votre quiz" required />
          </label>
        </div>
      </div>
      <button class="btn btn-color">Valider</button>
    </div>
  </form>
</div>