<form action="/process-quiz" method="POST">
  <div class="margin-narrow pt-5">
    <div class="form-row">
      <div class="form-group col-12">
        <label>
          Titre du Quiz
          <input type="text" class="form-control" name="name" placeholder="Nom du quiz" required />
        </label>
      </div>
      <div class="form-group col-12">
        <label>
          Description du Quiz
          <textarea rows="3" class="form-control" name="description" placeholder="Decrivez votre quiz"
            required></textarea>
        </label>
      </div>
    </div>
    <button class="btn btn-color">Valider</button>
  </div>
</form>