# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# CSS 
style.css
style.css.map

# Misc
.DS_Store

# Draft
cards-route.js

