<main class="dashboard container-fluid h-100">
  <div class="container-fluid main-top">
    <h3>CRÉER UN QUIZZ</h3>
    <h2>{{quizItem.name}}</h2>
  </div>


  <section class="form-box container">
    <div class="row validation-box">
      <div class="col-6">
        <a id="quizLink" href="/{{quizItem._id}}"><button class="btn btn-color">TESTER</button></a>
      </div>
      <div class="col-6">
        <button onclick="toClipboard()" class="btn btn-color">PARTAGER</button>
      </div>
    </div>
    </s>

    <div class="back">
      <div class="overlay">
      </div>
    </div>

</main>