<main class="dashboard container-fluid h-100">
<div class="questions">
<h3>CRÉER UN QUIZZ</h3>
<a href="/"><button class="btn btn-color">TERMINER</button></a>
</div>

<h2>{{quizItem.name}}</h2>

<form  class="form-box container" action="/quiz/{{quizItem._id}}/process-card" method="POST">
    <div class="row input-box">
      <label for="question">
        Question
        <textarea name="question" rows="1" cols="40"></textarea>
      </label>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <label>
            Réponse 1
            <textarea name="firstAnswer" rows="1" cols="15"></textarea>
          </label>

            <input type="checkbox" name="firstTrue">
          <label>
            Réponse 3
            <textarea name="thirdAnswer" rows="1" cols="15"></textarea>
          </label>
            <input type="checkbox" name="thirdTrue">
        </div>

        <div class="col-6">
          <label>
            Réponse 2
            <textarea name="secondAnswer" rows="1" cols="15"></textarea>
          </label>
            <input type="checkbox" name="secondTrue">

      
          <label>
            Réponse 4
            <textarea name="fourthAnswer" rows="1" cols="15"></textarea>
          </label>
            <input type="checkbox" name="fourthTrue">
        </div>
      </div>
    </div>
    </div>
  <button type="submit" class="btn btn-color">VALIDER</button>
</form>

      {{#if cardList}}
        {{#each cardList}}
          <h4>{{this.question}}</h4>
            {{#each this.options}}
              <h5>{{option}} {{#if valid}}✅{{/if}}</h5>
            {{/each}}
        {{/each}}
      {{/if}}

            <div class="back">
            <div class="overlay"></div>
      </div>
      </main>