<a href="/new">Create a Quizz</a> <a href="/new">Create a Quizz</a>
<div class="back">
  <div class="back">
    <div class="overlay"></div>
    <div class="overlay"></div>
  </div>
</div>
{{!-- SIDEBAR --}} {{!-- SIDEBAR --}}
<div class="sidebar">
  <div class="sidebar">
    <a href="/"><img src="/public/images/dashboardgrey.png" /></a> <a href="/"><img
        src="/public/images/dashboardgrey.png" /></a>
    <a href="/quiz"><img src="/public/images/docgrey.png" /></a> <a href="/quiz"><img
        src="/public/images/docgrey.png" /></a>
    <a href="#"><img src="/public/images/settingsgrey.png" /></a> <a href="#"><img
        src="/public/images/settingsgrey.png" /></a>
  </div>
</div>
{{!-- THERE GOES THE DASHBOARD WITH THE USER'S QUIZZES' LIST --}}
{{!-- THERE GOES THE DASHBOARD WITH THE USER'S QUIZZES' LIST --}}
<div class="main">
  <div class="main">
    {{#if quizArray}} {{#if quizArray}}
    {{#each quizArray}} {{#each quizArray}}
    <h4>{{this.name}}</h4>
    <h4>{{this.name}}</h4>
    {{/each}} {{/each}}
    {{/if}} {{/if}}
  </div>
</div>

<div class="container-fluid h-100">
  <div class="row h-100">
    {{#if currentUser}}
    <main class="dashboard container-fluid">
      <div>
        <div>
          <h3>LISTE DES QUIZZ</h3>
        </div>
        <div>
          <a class="btn btn-color" role="button" href="/new">CRÉER UN QUIZZ</a>
        </div>
      </div>
      {{#if quizArray}}
      {{#each quizArray}}
      <article class="quiz-card">
        <div>
          <h4>{{this.name}}</h4>
        </div>
        <div>
          <a href="/quiz/{{this.id}}">View</a>
        </div>
      </article>
      {{/each}}
      {{/if}}
    </main>
  </div>
</div>