{{!-- <h2>Home Page</h2> --}}

{{!-- {{> flash_messages}} --}}

{{!-- {{#if currentUser}}
<h3>Welcome back, {{currentUser.fullName}}.</h3>
{{else}}
<p>Why don't you make an account?</p>
<a href="/signup">Sign Up Today</a>
{{/if}} --}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/new'>New</a>