<div class="container">
      <div class="row">
            <div class="col-12 landing-page">
                  <h1 class="index">CRÉER DES QUIZ N'A JAMAIS ÉTÉ AUSSI FACILE!</h1>
            </div>
            <div class="col-12 landing-page">
                  <p>Créer et partager vos quiz avec vos collaborateurs. Simple, rapide et gratuit!</p>
            </div>
      </div>
      <div class="back">
            <div class="overlay"></div>
      </div>
</div>