@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;
}

header {
  height: 10%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 90%;
}

//LANDING-PAGE

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: pointer;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #091e4d;
  opacity: 0.6;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.btn-color {
  background-color: #efb233;
  width: 180px;
  justify-content: right;
  margin-right: 10px;
  text-align: center;
  border-radius: 3px;
}

.color-yellow {
  color: #efb233;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  .btn-small {
    background-color: #efb233;
    width: 90px;
    justify-content: right;
    margin-right: 10px;
    text-align: center;
    border-radius: 3px;
  }
}

  // .margin-nav {
  //   margin-left: 650px;
  // }

  .nav-link {
    color: #ffffff;
  }

  .index {
    font-weight: 700;
    font-size: 50px;
    color: #efb233;
    letter-spacing: 0.23px;
    width: 650px;
    height: 120px;
    margin-top: 20%;
    margin-left: 210px;
    padding-bottom: 0;
  }

  .landing-page p {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 0.23px;
    width: 600px;
    height: 93px;
    margin-left: 210px;
  }

  // SLIDING SIGNUP
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

  .background {
    height: 100vh;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // SIDEBAR
  .sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    margin-top: 70px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
  }

  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
