@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;

}

header {
  height: 10%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 90%;
}

//LANDING-PAGE

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: pointer;
  background-image: url(/images/emily-morter-188019-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #091e4d;
  opacity: 0.6;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.btn-color {
  background-color: #efb233;
  width: 180px;
  justify-content: right;
  margin-right: 10px;
  text-align: center;
  border-radius: 3px;
}

.btn-small {
  background-color: #efb233;
  width: 90px;
  justify-content: right;
  margin-right: 10px;
  text-align: center;
  border-radius: 3px;
}

.margin-nav {
  margin-left: 650px;
}

.nav-link {
  color: #ffffff;
}



.index {
  font-weight: 700;
  font-size: 50px;
  color: #efb233;
  letter-spacing: 0.23px;
  width: 650px;
  height: 120px;
  margin-top: 20%;
  margin-left: 210px;
  padding-bottom: 0;
}

.landing-page p {
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.23px;
  width: 600px;
  height: 93px;
  margin-left: 210px;
}

.navbar {
  display: block;
}

.sidebar {
	position: relative;
	top: 0;
  left: 0;
  color: chartreuse;
	
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}

.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard {
  background-color: #ffffff;
  padding: 2%;
}

h3 {
  color: #efb233;
  font-weight: bold;
}

.quiz-card {
  width: 20%;
}

.input-box {
  // margin: auto;
  height: 70%;
  width: 100%;
  padding: 5% 20%;
  margin-bottom: 20px;
  background-color: #f5f3f1;
  border-color: #979797;
  border-style: solid;
  border-width: 2px;
  border-radius: 1%; 
  display: flex;
  flex-direction: column;
}

.input-box textarea {
  display:block;
  width: 100%;
  border-style: none;
  background-color: white;
}

.input-box label {
  display:block;
  color: #091e4d;
  font-weight: bolder;
  font-size: 1.5em;

}

.form-box {
 height: 85%;
 margin: 2% auto;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}
// .large {
//   height: 50%;
//   line-height: normal;
// }

h2 {
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}